@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
  width: 100px;
  height: 100px;
  margin-left: 90px;
}

.buttonSend{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #ffffff;
  cursor: pointer;
  width: 50%;
  margin-right: 7px;
}

.title-heart{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 48px;
  color: #ffffff;
  background-color: #e74c3c;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container-button{
  display: flex;
  flex-direction: row;
  align-items: center;
 
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paragrahp-company{
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 28px;
  color: #333333;
  text-align: center;
  border-bottom: 2px solid #3498db;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.container-options{
  min-height: 85dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.list-options{
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  min-width: 250px;
  width: 30%;
  list-style: none;
  padding: 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6) ;
  background-color: white;
}

.options{
  display: flex;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #333333;
  font-size: 20px;
 
}

.list-items{
  display: flex;
  padding: 12px 4px;
  justify-content: center;
  align-items: center;
}


.list-items:nth-child(n){
  border-bottom: 1px solid rgb(215, 215, 215)  ;
}
.list-items:last-child{
  border-bottom: none  ;
}


